/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #497174;
}

/* main rules */
.container {
    background-color: #EB6440;
    color: #D6E4E5;
    width: 80%;
    max-width: 1440px;
    border-radius: 30px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.container > h1 {
    color: #497174;
}

.container > p {
    margin: 50px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.slot {
    width: calc((100% - 50px) / 3 );
    padding: 10px;
    background-color: #497174;
    border-radius: 30px;
    text-align: center;
}

.img_member {
    width: 200px;
    border-radius: 50%;
}

.name_member {
    color: #EB6440;
    font-size: 25px;
    font-weight: 500;
}

